{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js" integrity="sha512-GtM/5c/Ie0lStj6QwEG0HkpMQuGr9vrOAgFD4nNmImviyZvsJxN7TYU7b+R7Kthob0zFBUpuxfl3R3Mn1qekTw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Document</title>
</head>
<style type="text/css">
    #video {
        border: 1px solid black;
    }
</style>
<body>
    <h1>hello</h1>
    <video id="video" width="300" height="200" autoplay  autoplay src="https://thesneekhub.com/rtmp/dash/out.webm" type="video/webm" ></video>
    <canvas id="canvas" width="300" height="200"></canvas>
    <canvas id="canvas1" width="300" height="200"></canvas>
    <!-- <img id="screen" height="300" width="300"/>-->
    <select id="video1"  ></select> 
    <button id="screen1">screen</button>
</body>

<script>
    const ENDPOINT = "http://localhost:7000";
    const socket =  io(ENDPOINT, {});
    socket.on("connect_error", (err) => {
        console.log(`connect_error due to ${err.message}`);
    });

</script>
<script >

    var websocket
    var AudioContext = (window.AudioContext) || (window.webkitAudioContext)

    // var audioContext = new AudioContext({
    //     sampleRate: 16000,
    // });
    var loc = window.location
    var chunks = []
    var wsStart = 'wss://'
    var video = document.getElementById("video")
    var video1 = document.getElementById('video1')
    const canvas = document.querySelector("canvas");
    const ctx = canvas.getContext("2d");
    const canva1 = document.querySelector("canvas1");
    const ctx1 = canvas.getContext("2d");
    var endPoint = wsStart+loc.host+loc.pathname;
    const mime = ['audio/wav', 'audio/mpeg', 'audio/webm', 'audio/ogg'].filter(MediaRecorder.isTypeSupported)[0];
    websocket = new WebSocket(endPoint)
    
    console.log(websocket.url)
    var options = {
        mimeType: "video/webm;codecs=opus, vp8",
        //bitsPerSecond:5000 //quality
        };
        const frames = []

    // const context = new AudioContext();
    // var mediaSource = new MediaSource()
    // video.src = URL.createObjectURL(mediaSource)
    //     var sourcebuffer
    //     mediaSource.addEventListener('sourceopen',function(){
    //         sourcebuffer = mediaSource.addSourceBuffer('video/webm; codecs=vp8')
    //         //console.log(sourcebuffer)
    //     })
          
    websocket.binaryType = "arraybuffer";
    websocket.addEventListener('open',(e) => {
        console.log('open')
        document.getElementById('screen1').onclick = function (){
        
    const framerate = 30;
  const bitrate = 200;
  const width = 400;
  const height = 400;

//   function createBufferURL(buffer, type = '') {
//     return URL.createObjectURL(new Blob([buffer], {type}));
//   }

//   function cameraStream({ width, height }) {
//     return new ReadableStream({
//       async start(controller) {
//         const cvs = document.createElement("canvas");
//         const video = document.createElement("video");
//         const stream = await navigator.mediaDevices.getDisplayMedia({
//           video: {
//             width: { ideal: width },
//             height: { ideal: height }
//           },
//           audio: false
//         });
//         video.srcObject = stream;
//         video.play();
//         await nextEvent(video, "playing");
//         [cvs.width, cvs.height] = [width, height];
//         const ctx = cvs.getContext("2d");
//         const frameTimeout = 1000 / framerate;
//         setTimeout(async function f() {
//           ctx.drawImage(video, 0, 0);
//           await controller.enqueue(
//             ctx.getImageData(0, 0, width, height)
//           );
//           setTimeout(f, frameTimeout);
//         }, frameTimeout);
//       }
//     });
//   }

//   // Returns the next <name> event of `target`.
//   function nextEvent(target, name) {
//     return new Promise(resolve => {
//       target.addEventListener(name, resolve, { once: true });
//     });
//   }

//   async function init() {
//     const buffer = await fetch(
//   "https://unpkg.com/webm-wasm@0.4.1/dist/webm-worker.js"
// ).then(r => r.arrayBuffer());
// const worker = new Worker(
//   URL.createObjectURL(new Blob([buffer], { type: "text/javascript" }))
// );
// worker.postMessage("https://unpkg.com/webm-wasm@0.4.1/dist/webm-wasm.wasm");

//     await nextEvent(worker, "message");
//     worker.postMessage({
//       timebaseDen: 30,
//       width,
//       height,
//       realtime: true
//     });
//     cameraStream({width, height})
//       .pipeTo(new WritableStream({
//         write(image) {
//             console.log(image.data.buffer)
//           worker.postMessage(image.data.buffer, [image.data.buffer]);
//           //console.log(image.data.buffer)
//         }
//       }));

//     // const mediaSource = new MediaSource();
//     // mediaSource.onsourceopen = () => {
//     //   const sourceBuffer = mediaSource.addSourceBuffer(`video/webm; codecs="vp8"`);
//       worker.onmessage = ev => {
//         if(!ev.data) {
//           return mediaSource.endOfStream();
//         }
//         websocket.send(ev.data)
//     //     sourceBuffer.appendBuffer(ev.data);
//     //   };
//     };

//     // //const video = document.createElement("video");
//     // var video1 = document.getElementById('video1')
//     // video1.muted = true;
//     // video1.autoplay = true;
//     // //video.loop = true;
//     // //video.controls = true;
//     // video1.src = URL.createObjectURL(mediaSource);
//     // //document.body.append(video);
//     // video1.play();
//   }

//   document.getElementById('screen1').onclick = ev => {
//     ev.target.remove();
//     init();
//   };
async function stream(){
var stream = await navigator.mediaDevices.getDisplayMedia({
          video: {
            width: { ideal: width },
            height: { ideal: height }
          },
          audio: true
        })
        video.srcObject=stream
        //video.play()
            //    const recorder =  new MediaRecorder(stream)
            //    c//onsole.log(recorder)
            //     recorder.ondataavailable = async function (e){
            //         var blob = e.data 
            //         //video1.src = URL.createObjectURL(e.data);
            //         //video1.src = URL.revokeObjectURL(e.data);
            //         //var abc = await blob.arrayBuffer()    
            //         //websocket.send(abc)
            //     }
            //     recorder.start(1000)

                if( window.MediaStreamTrackProcessor ) {
                    
                    
                    const track = video.captureStream().getVideoTracks()[0]
                     // MediaStream.getVideoTracks()[0]
                    const processor = new MediaStreamTrackProcessor( track );
                    const reader = processor.readable.getReader();
                    //console.log(processor)
                    readChunk();
                    function readChunk() {
                        reader.read().then(async({ done, value }) => {
                            //console.log((value))
                            //websocket.send(value)
                            
                            //console.log(reader)
                        // the MediaStream video can have dynamic size
                        if( canvas.width !== value.displayWidth || canvas.height !== value.displayHeight ) {
                            canvas.width = value.displayWidth;
                            canvas.height = value.displayHeight;
                        }
                        var bitmap = await createImageBitmap(value)
                        
                        const index = frames.length;
                        frames.push(bitmap)
                        //console.log(bitmap)
                        const frame = bitmap
                        canvas.width=frame.width
                        canvas.height=frame.height
                        ctx.drawImage(frame,0,0)
                        //console.log(bitmap)
                        var value1 = ctx.getImageData(0,0,canvas.width,canvas.height)
                        let lastTime = new Date();
                        //console.log(lastTime.getSeconds())
                        function loop() { 
                            const currentTime = new Date();
                            //console.log(currentTime.getSeconds())
                            // currentTime - lastTime is the number of milliseconds passed from last loop 
                            const fps = 1000 / (currentTime - lastTime);
                            lastTime = currentTime;
                            console.log("fps before websocket"+lastTime.getSeconds())
                        
                        }
                        loop()
                        //console.log(value1.data)
                        websocket.send(value1.data)
                        //ctx1.putImageData(value1,0,0)
                        //ctx.clearRect( 0, 0, canvas.width, canvas.height );
                        // var abc = (ctx1.createImageData(3,1,bitmap))
                        // ctx1.putImageData(abc,0,0)
                        //console.log(bitmap)
                        // video1.append(new Option('frame #'+(index+1),index))
                        
                        // value is a VideoFrame
                        //console.log(value)
                        // ctx.drawImage( value, 0, 0 );
                        //read()
                        value.close(); // close the VideoFrame when we're done with it
                        if( !done ) {
                            readChunk();
                        }
                        });
                    }
                    }

// We can't use getUserMedia in StackSnippets
// So here we use a simple canvas as source
// for our MediaStream.


}
document.getElementById('screen1').onclick=()=>{
  stream()
}

video1.onchange = (evt) =>{


}











                //video.style.display="none"
                // const mediarecorder = new MediaRecorder(stream)
                // const ctx = canvas.getContext('2d');

                // const WIDTH = 256;
                // const HEIGHT = 256;
                // mediarecorder.ondataavailable = async function (e) {
                //     if (e.data.size > 0) {
                //         const arrayBuffer = await new Response(e.data).arrayBuffer();
                //         //console.log(arrayBuffer)
                //         const pixels = new Uint8ClampedArray(arrayBuffer);
                //         console.log(pixels)
                //         for (let y = 0; y < HEIGHT; y++) {
                //         for (let x = 0; x < WIDTH; x++) {
                //             const i = (y*WIDTH + x) * 4;
                //             pixels[i  ] = x;   // red
                //             pixels[i+1] = y;   // green
                //             pixels[i+2] = 0;   // blue
                //             pixels[i+3] = 255; // alpha
                //         }
                //         }

                //         const imageData = new ImageData(pixels, 100, 100);
                //         console.log(imageData)
                //         ctx.putImageData(imageData, 0, 0);
                //     }  
                // }
                // mediarecorder.start(200);
                // var ctx = canvas.getContext('2d')
                // setInterval(begin,1)
                // function begin(){
                //     draw()
                //     read()
                // }

                // function draw(){
                //     canvas.width = video.videoWidth
                //     canvas.height = video.videoHeight
                //     ctx.drawImage(video,0,0,canvas.width,canvas.height)
                //     //document.getElementById('video1').play()
                //     canvas.style.display='none'
                //     //window.requestAnimationFrame(draw)
                // }

                async function read(){
                    
                    //console.log(stream1)
                    //document.getElementById('video1').srcObject=stream1
                    var canvasData = canvas.toDataURL('image/gif',1)
                    var decode = atob(canvasData.split(',')[1])
                    var charArray=[]
                    for (var i=0;i<decode.length;i++){
                        charArray.push(decode.charCodeAt(i))
                    }
                    
                var res =  await new Blob([new Uint8Array(charArray)],{'type':"image/gif"}).arrayBuffer()
                
                const pixels = new Uint8ClampedArray(res);

                // const imageData = new ImageData(pixels, 100, 100);
                //     ctx.putImageData(imageData, 0, 0);
                    //websocket.send()
                }

                // FOR  AUDIO
                // const context = new AudioContext();
                // const source = context.createMediaStreamSource(stream);
                // const processor = context.createScriptProcessor(16384, 2, 2);

                // source.connect(processor);
                // processor.connect(context.destination);
                // processor.onaudioprocess = function(e) {
                //     var abc = "hello"+" "+e.inputBuffer.getChannelData(0)
                //     websocket.send(abc)
                // }
                
                }
             //video.play() 
               
    })

    // const mediaSource = new MediaSource();
    // var sourceBuffer
    // var video1 = document.getElementById('video1')
    // video1.muted = true;
    // //video1.autoplay = true;
    // //video.loop = true;
    // //video.controls = true;
    // video1.src = URL.createObjectURL(mediaSource);
    // video1.play()
    // mediaSource.onsourceopen = () => {
    //     sourceBuffer = mediaSource.addSourceBuffer("video/webm;codecs=vp8");

    // }
    // fetch("https://thesneekhub.com/rtmp/dash/out.webm").then((response)=>{
    //     console.log(response)
    // })
    websocket.addEventListener('message',(e)=>{


        var array = new Uint8ClampedArray(e.data);

        var image = new ImageData(array,400,226);
        ctx.putImageData(image, 0,0);
        let lastTime = new Date();
        function loop() { 
            const currentTime = new Date();
            // currentTime - lastTime is the number of milliseconds passed from last loop 
            const fps = 1000 / (currentTime - lastTime);
            lastTime = currentTime;
            console.log("fps"+lastTime.getSeconds())
        
        }
        loop()
        


        // we create our ImageBitmap from the current state
        // (=> ~ same bitmap as 'imageData')
        // if(!e.data) {
        //   return mediaSource.endOfStream();
        // }
        // sourceBuffer.appendBuffer(e.data);
        //console.log(sourceBuffer)
        //console.log(sourceBuffer)
    
        // var reader = new FileReader()
        // reader.onload=function(e){
        //     //console.log(e.target.result)
        //     sourcebuffer.appendBuffer(new Uint8Array(e.target.result))
        //     //console.log(sourcebuffer)
        // }
        // reader.readAsArrayBuffer(e.data)

        // var media,sourceBuffer
        // var buffer = e.data
        // var data = new Uint8Array(buffer)
        // //console.log(data)
        // // if(data[0]===26&&data[1]===69&&data[2]===223){
            
        //     if(media){
        //         URL.revokeObjectURL(media)
        //         sourceBuffer=null;  
        //             }
            
        //     media= new MediaSource();

        //     //console.log(media)
        //     video.src = URL.createObjectURL(media);
        //     video.onloadedmetadata=function(){
                
        //         video.muted=true
        //         video.play()
        //     }
            
        //     media.onsourceopen=function(){
                
        //         sourceBuffer= media.addSourceBuffer("video/webm;codecs=opus, vp8");
        //         sourceBuffer.appendBuffer(data)
        //         sourceBuffer.addEventListener('updateend', () => {
        //             console.log(media.readyState); 
        //             media.endOfStream();
        //             video.play();
        //             console.log(media.readyState); // ended
        //         });

                
        //     }
    
        // }
        
        // else {
        // if(!media)//console.log(media); 
        // return;
        //     console.log(sourceBuffer)
        //     sourceBuffer.appendBuffer(buffer)
            
        // }
                           
        // let rawbuffer = new Float32Array (e.data)
        // var playSound = context.createBufferSource();
        // let audioBuffer = context.createBuffer(1, rawbuffer.length, 48000)
        // audioBuffer.copyToChannel( rawbuffer, 0);
        // playSound.buffer = audioBuffer
        // playSound.connect(context.destination);
        // playSound.start(context.currentTime);



    })
    websocket.addEventListener('close',(e)=>{
        console.log('close')
    })
    websocket.addEventListener('error',(e)=>{
        console.log('error',e)
    })

</script>
</html>